*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(41, 107, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 30px;
    font-weight:bolder;
    color: rgba(253, 253, 253, 0.952);
}
#formulario {
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    
    margin-left: 20%;
    text-align: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2)

}

#formulario .first-question,
#formulario .second-question{
    margin-top: 30px;
    margin-bottom: 30px;
}
#formulario .first-question,
#formulario .second-question{
    margin-top: 30px;
}

input[type="submit"]{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 15px;
    font-weight: bolder;
    
    color: white;
    border:none;
    background-color: rgb(79, 216, 136);
    padding-left: 60px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
}
input[type="submit"]:hover{
    background-color: rgb(17, 144, 153);
}
.group-radio-button{
    margin-top: 10px;
    
}
.group-radio-button > input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(61, 9, 202);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    margin-right: 2%;
    top: 4px;
}
.group-radio-button > input[type="radio"]:checked {
    border: 6px solid rgb(99, 62, 158);
  }
.group-radio-button label{
    display: inline-block;
    cursor: pointer;
    color: #470ee6;
    position: relative;
    padding-right: 25px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.group-radio-button label:hover{
    background: rgba(255, 65, 54, 0.1);
}
/*Alerta*/
.alert{
    width: 40%;
    margin: auto;
    
    margin-top: 20px;
    text-align: center;
    
    font-weight: bolder
}
.response-bad {
    background-color: rgb(233, 31, 31);
    padding: 40px;
    border-radius: 15px;
}
.response-middle {
    background-color: rgb(255, 145, 0);
    padding: 40px;
}
.response-success {
    background-color: rgb(30, 170, 88);
    padding: 40px;
}